<h1>Client list</h1>

<% if(isLoading) { %>

<div id="reports_spinner">
	<div class="spinner"></div>
	<p style="text-align:center">Chargement des données<br>Veuillez patienter...</p>
</div>


<% } else { %>

<p>API count: <%= clients.length %> (l'API ne renvoit au maximum que les 50 derniers résultats).</p>

<% if(clients.length == 0) { %>
	<p>Aucune donnée à afficher</p>

<% } else { %>
	<table id="reports_table" style="width:100%;">
	    <thead>
	        <tr>
	            <th style="text-align: left;">#</th>
	            <th style="text-align: left;">Name</th>
	        </tr>
	    </thead>
	    <tbody>

		<% clients.each(function(client) { %>
		<tr> 
			<td style="text-align: left;"><%= client.id %></td>
			<td style="text-align: left;"><%= client.get('firstname') %><%= client.get('lastname') %></td>
		</tr>
		<% }); %>

		</tbody>
	</table>
<% } %>

<% } %>