<script type="text/javascript">
	function enableBaby() {
		var baby = document.getElementById('baby');

	    if (baby.checked == true)
	    {
	        document.getElementById('bebe').style.display='block';
	    }
	        else if (baby.checked == false)
	    {
	        document.getElementById('bebe').style.display='none';
	    }	
	}
</script>
<div class="Page">
	<header>Imag'In <a href="#" class="LogoutIcon">Logout</a><a href="#" class="UserProfile">User</a></header>
	<div id="ShowNav"><a href="#">Show me the menu</a></div>
	<nav>
			<h3>Mes reportages<div><a href="#">X</a></div></h3>
			<form id="searchform" name="searchform" method="get" action="index.html">
			  <div class="fieldcontainer">
			    <input type="text" name="s" id="s" class="searchfield" placeholder="Keywords..." tabindex="1">
			    <input type="submit" name="searchbtn" id="searchbtn" value="Rechercher">
			  </div>
			</form>
			<div class="ClearBoth"></div>
			<h4><a href="#">En cours <span>12</span></a></h4>
			<ul> 
			      <li><a href="#">Reportage xxx01</a></li> 
			      <li><a href="#">Reportage xxx02</a></li> 
			      <li><a href="#">Reportage xxx03</a></li> 
			      <li><a href="#">Reportage xxx04</a></li>
			      <li><a href="#">Reportage xxx05</a></li>  
			       
			</ul>
			<h4 id="ToSend"><a href="#">A envoyer <span>10</span></a></h4>
			
			<h4 id="Sent"><a href="#">Envoyés <span>5</span></a></h4>
			
			<input type="submit" name="NewReport" id="NewReport" value="Nouveau reportage">

			<input type="submit" name="Dropbox" id="Dropbox" value="Dropbox">
	</nav>

	<article>
		<h1>Informations client</h1>
		
			<div class="Form">
				<div class="col50">
					<form method="post" action="/#/prospect/client" id="client_form">
					   <fieldset>
					       <legend><%= (mode == 'create') ? 'Nouveau client' : 'Modification de: ' + model.firstname %></legend> <!-- Titre du fieldset --> 
					       
					        <label for="email">Civilité</label>
					       <select name="gender" id="civilite">
					       		<option value="UNKNOWN"></option>
							  <option value="MR" >Monsieur</option>
							  <option value="MLLE" >Mademoiselle</option>
							  <option value="MME" >Madame</option>
							</select>

					       <label for="nom">Nom</label>
					       <input type="text" name="lastname" id="nom" class="formInputTxt" />

					       <label for="prenom">Prénom</label>
					       <input type="text" name="firstname" id="prenom" class="formInputTxt"/>
					 
					       <label for="batiment">Batiment</label>
					       <input type="text" name="batiment" id="batiment" class="formInputTxt"/>

					       <label for="etage">Etage</label>
					       <input type="text" name="etage" id="etage" class="formInputTxt"/>

					       <label for="appartement">Appartement</label>
					       <input type="text" name="appartement" id="appartement" class="formInputTxt"/>

					       <label for="digicode">Digicode</label>
					       <input type="text" name="digicode" id="digicode" class="formInputTxt"/>

					       <label for="adresse">Adresse</label>
					       <input type="text" name="address1" id="adresse" class="formInputTxt"/>

					       <label for="codeP">Code postal</label>
					       <input type="text" name="postal_code" id="codeP" class="formInputTxt"/>
                           

					       <label for="complement">Complément d'adresse</label>
					       <input type="text" name="address2" id="complement" class="formInputTxt"/>

					       <label for="ville">Ville</label>
					       <input type="text" name="city" id="ville" class="formInputTxt"/>
					       
					       <label for="ville">Pays</label>
					       <input type="text" name="country" id="pays" class="formInputTxt"/>

					       <label for="telfixe">Téléphone fixe</label>
					       <input type="text" name="home_phone_number" id="telfixe" class="formInputTxt"/>
					       
					       <label for="telpro">Téléphone pro</label>
					       <input type="text" name="profesionnal_phone_number" id="telpro" class="formInputTxt"/>
					       
					       <label for="telmob2">Téléphone mobile</label>
					       <input type="text" name="mobile_phone_number" id="telmob2" class="formInputTxt"/>
					       
					       <label for="email">E-mail</label>
					       <input type="text" name="email" id="email" class="formInputTxt"/>
					       
					       <p><input type="checkbox" name="optin_company" value="1" id="optin_company" /> <label for="intelligent" class="CheckTxt">Accord prospection commerciale groupe</label></p><div class="ClearBoth"></div>
					       
					       <p><input type="checkbox" name="optin_partners" value="1" id="optin_partners" /> <label for="intelligent">Accord prospection commerciale partenaires</label></p><div class="ClearBoth"></div>
					       
					       <p><input type="checkbox" name="optout_company" value="1" id="optout_company" /> <label for="intelligent">Accord prospection commerciale électronique groupe</label></p><div class="ClearBoth"></div>
					       
					       <p><input type="checkbox" name="optout_partners" value="1" id="optout_partners" /> <label for="intelligent">Accord prospection commerciale électronique partenaires</label></p><div class="ClearBoth"></div>

					       <div class="Separation"></div>
					       <p><input type="checkbox" name="baby" value="1" id="baby" onclick="enableBaby()" /> <label for="intelligent" class="CheckTxt">Bébé</label></p><div class="ClearBoth"></div>
					       	
					       	<fieldset id="bebe">
	
								<label for="baby_firstname">Prénom :</label>
								<input type="text" name="baby_firstname" id="baby_firstname" class="formInputTxt" />
								<br>
								
								<label for="baby_lastname">Nom :</label>
								<input type="text" name="baby_lastname" id="baby_lastname" class="formInputTxt" />
								
								<label for="datenaissance">Date de naissance :</label>
								<input type="text" name="birth_date" id="birth_date" class="formInputTxt" />
								
								<label for="sexebebe">Sexe</label>
						       <select name="sexe" id="sexebebe"> 
								  <option value="FEMALE" >Féminin</option>
								  <option value="MALE" >Masculin</option>
								</select>
								<label for="rang">Rang :</label>
								<input type="text" name="rank" id="rang" class="formInputTxt" />
					       	</fieldset>

				</div>
				<div class="col50">

					<dl>
					   <dt>Definition list</dt>
					   <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
					commodo consequat.</dd>
					   <dt>Lorem ipsum dolor sit amet</dt>
					   <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
					commodo consequat.</dd>
					</dl>

				</div>
				<div class="ClearBoth"></div>
			</div>
	    <div class="Actions">
	    	<button name="submit" id="submit">Terminer</button>
	    	<button class="Delete">Supprimer</button>
	    	<button class="Save">Enregistrer</button>
	    	<div class="ClearBoth"></div>
	    </div>
	    
	    </div>

	</article>
</div>
