<div class="Page">
	<header>Imag'In <a href="#" class="LogoutIcon">Logout</a><a href="#" class="UserProfile">User</a></header>

	<article>
		<h1>Connexion</h1>
		
			<div class="Form">
				<div class="login">
					<form method="post" action="#">
					   <fieldset>

					       <label for="matricule">Matricule</label>
					       <input type="text" name="matricule" id="matricule" class="formInputTxt" />

					       <label for="password">Mot de passe</label>
					       <input type="password" name="password" id="password" class="formInputTxt"/>
					   </fieldset>

					</form>
				</div>
				
				<div class="ClearBoth"></div>
			</div>
	    <div class="Actions">
	    	<button name="submit" id="submit">Valider</button>
	    	<div class="ClearBoth"></div>
	    </div>
	    
	    </div>

	</article>
</div>
