<div class="Page">
	<header>Imag'In <a href="#" class="LogoutIcon">Logout</a><a href="#" class="UserProfile">User</a></header>
	<div id="ShowNav"><a href="#">Show me the menu</a></div>
	<nav>
			<h3>Mes outils<div><a href="#">X</a></div></h3>
			<div class="ClearBoth"></div>
			<input type="submit" name="Stat naissance" id="Stat" class="Stat" value="Stat naissance">
	</nav>

	<article>
		<h1>Statistiques du mois - <%= this.current_month %></h1>
		
			<div class="Form">
				<div class="Content">
					<form method="post" action="#" id="StatMater" name="StatMater" action="/">
					   <fieldset>
					       <legend>Nombre de naissance dans les maternités suivantes :</legend> <!-- Titre du fieldset --> 

						   <% stats.each(function(stat) { %>
					       <label for="nom"><%= stat.get('maternity_code') %></label>
					       <input type="hidden" name="maternity_code" id="maternity_code_<%= stat.get('id') %>" value="<%= stat.get('maternity_code') %>" />
					       <input type="text" name="real_number" id="real_number_<%= stat.get('id') %>" class="formInputTxt" value="<%= stat.get('real_number') %>" />
						   <% }); %>

					   </fieldset>
			
					</form>
				</div>
				
				<div class="ClearBoth"></div>
			</div>
	    <div class="Actions">
	    	<button name="submit" id="submit">Valider</button>

	    	<div class="ClearBoth"></div>
	    </div>
	    
	    </div>

	</article>
</div>