// Variables couleur

@txt: #fff;
@background: #21242e;
@bgContent: #464d5e;
@bgTitre:#586073;
@Onglets: #555c6c;
@OngletsActif:#6c7383;
@BgActions: #313640;
@ActionValid: #2fba3c;
@ActionValidHover: #0f7d19;
@ActionDelete: #f04848;
@ActionDeleteHover: #bc1818;
@ActionSave: #31a9c2;
@ActionSaveHover: #17798d;
@FigureCaption: #21242e;
@InputTexthover: #d3d6dd;
@bgH4: #464d5e;
@NavPair: #767d8d;
@TablePair: #555c6e;
@TableHover: #548f67;