
@WidthBigScreen: 960px;

/* Définition de la classe .border-radius avec un paramètre */
.border-radius (@radius: 4px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.box-shadow(@shadow: 0 2px 5px rgba(0,0,0,.50)) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}


.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.opacityHover(@opacity: 1) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}


.gradient (@startColor: #555c6c, @endColor: #4a5161) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}


/* Mixin */
.transition (@prop: all, @time: 0.5s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

.inputText{
	
   .border-radius;
    background: #a0a4ad;
    border: none;
    height: 30px;
    width: 97%;
    padding: 0;
    line-height: 1.9em;
    color: #464d5e;
    border: solid 1px #586073;
    font-size: 14px;
    padding-left: 5px;
}








