body {
    background: #fafafa;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.spinner {
	height:30px;
	width:30px;
	margin:0px auto;
	position:relative;
	-webkit-animation: rotation 1.2s infinite linear;
	-moz-animation: rotation 1.2s infinite linear;
	-o-animation: rotation 1.2s infinite linear;
	animation: rotation 1.2s infinite linear;
	border-left:4px solid rgba(0,174,239,.15);
	border-right:4px solid rgba(0,174,239,.15);
	border-bottom:4px solid rgba(0,174,239,.15);
	border-top:4px solid rgba(0,174,239,.8);
	border-radius:100%;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}