@import "graphics.less";
@import 'colors.less';





    /**
    * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
    * Richard Clark (http://richclarkdesign.com)
    * http://cssreset.com
    */
    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    }
    body {
    line-height:1;
    }
    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section {
    display:block;
    }
    nav ul {
    list-style:none;
    }
    blockquote, q {
    quotes:none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content:'';
    content:none;
    }
    a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    }
    /* change colours to suit your needs */
    ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
    }
    /* change colours to suit your needs */
    mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
    }
    del {
    text-decoration: line-through;
    }
    abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
    }
    table {
    border-collapse:collapse;
    border-spacing:0;
    }
    /* change border colour to suit your needs */
    hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
    }
    input, select {
    vertical-align:middle;
    }







@font-face{ 
	font-family: 'Raleway-Regular-webfont';
	src: url('Raleway-Regular-webfont.eot');
	src: url('Raleway-Regular-webfont.eot?iefix') format('eot'),
	     url('Raleway-Regular-webfont.woff') format('woff'),
	     url('Raleway-Regular-webfont.ttf') format('truetype'),
	     url('Raleway-Regular-webfont.svg#Raleway-Regular-webfont') format('svg');
}


body {background-color:@background;
		font-family: 'Raleway-Regular-webfont', Arial, sans-serif;
        font-size: 16px;
		color: @txt;
		a { color: @txt; text-decoration: none} }

.ClearBoth { clear: both; line-height: 0; font-size: 0; margin: 0; padding: 0}

.Page{ width: @WidthBigScreen;
	margin: auto;}

header {
		text-align:center;
	background:url(../images/ImagInLogo.jpg) center top no-repeat;
	height:55px;
	text-indent:  -9000px;
	overflow: hidden;
		.LogoutIcon, .UserProfile{ 
            display:block;
            float: right; 
            margin-top: 7px; 
            height: 22px; 
            width: 20px; 
            .opacity;
            .transition; 
            outline: none; 
            border: solid 1px @background;}
		.LogoutIcon {  background:url(../images/Logout.gif) center top no-repeat ;}
		.UserProfile {  background:url(../images/User.gif) center top no-repeat; margin-right: 10px }
		.LogoutIcon:hover{.opacityHover}
		.UserProfile:hover{.opacityHover}
	 }

article {
	.border-radius;
	.box-shadow;
	background-color:@bgContent;
	
		
		h1{
			padding: 15px;
			font-size: 23px;
			margin-bottom:20px;
			font-weight: normal;
			color: #fff;
			padding: 10px;
			background-color:@bgTitre;
		    text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
			.border-radius(4px 4px 0 0);
			span{padding-left: 30px}
		 };
         p{ padding:0 0 10px; text-align: left;}
	 }
li{ list-style: none!important;}
#Onglets ul
{
    list-style-type : none;
    padding-bottom : 0px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    margin-left : 20px;
    font-size: 20px;
    overflow: hidden;
	width: 100%;
}

#Onglets li
{
    float : left;
    height : 48px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: @Onglets;
    margin : 2px 5px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 5px 0 2px;  /* Pour IE  */
    .border-radius(4px 4px 0 0);
    .transition;


}

#Onglets li.active
{
    background-color:@OngletsActif;
}

#Onglets a
{
    display : block;
    text-decoration : none;
    padding : 15px 25px;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
}

#Onglets li:hover
{
    background-color :@OngletsActif;
    .border-radius(4px 4px 0 0);
    .opacityHover;
}

.Content {   
	background-color: @OngletsActif;
	margin: 0 10px 0 10px;
	padding: 10px;
	.border-radius;
}
.Content ul{    overflow: hidden;
    width: 100%;}

.Content li{
    list-style: none;
    line-height: 0;
    margin: 0;
    padding: 0;
    float : left;
    height : 160px;
    width : 160px;
    display: table;
    text-align: center;
    // Apply margin to every child in this container
    margin-left: 30px;
    margin-bottom: 30px;  
    position: relative;
    
    }

.Content li a{
            display: block;
            height : 160px;
            width : 160px;
            background: #fff;
            text-align: center;

            display: table-cell;
            vertical-align: middle;
            text-align: center;
            .border-radius;
            .box-shadow;
            .transition;
        }


.Content li a:hover{
 .box-shadow(0 0 2px rgba(0,0,0,.50));
 .opacity ;
 .transition;
      }


.Content li:first-child, .Content li:nth-child(5n+1) {
    // Remove the margin on the left side on the very first and then every 5 box
    margin-left: 0;
}

.Content li:last-child {
    // Remove the right side margin on the last element
    margin-right: 0;
}
figure {
    height:160px;
    display: table-cell;
    width: 160px;
    vertical-align: middle;
    text-align: center;}

figcaption {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    display: block;
    height: 35px;
    line-height: 2.2em;
    position: absolute;
    width: 160px;
    color: @FigureCaption;
    .border-radius;
}


.Actions{
    background: @BgActions;
    padding: 10px 10px 14px;;
    margin-top: 10px;
    .border-radius(0 0 4px 4px);

}


button, #searchbtn, #NewReport, #Dropbox, #Stat {
    float: right;
    background: @ActionValid;
    .box-shadow(0 4px 0 rgba(15,125,25,1));
    .transition;
    .border-radius;
    color: @txt;
    text-transform:uppercase;
    border: none;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top:0;
    padding: 10px 20px;
    margin:0 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.4);
    
}
button:hover, #searchbtn:hover, #NewReport:hover, #Dropbox:hover , #Stat:hover{
        .box-shadow(0 0 0 rgba(15,125,25,1));
        .box-shadow(0 0 0 rgba(15,125,25,1));
        .transition;
        background:@ActionValidHover;
        top: 4px;

}

button.Delete {background: @ActionDelete; .box-shadow(0 4px 0 @ActionDeleteHover);}
button.Delete:hover{ background: @ActionDeleteHover; .box-shadow(0 00 @ActionDeleteHover);}
button.Save, #Dropbox {background: @ActionSave;  .box-shadow(0 4px 0 @ActionSaveHover);}
button.Save:hover, #Dropbox:hover {background: @ActionSaveHover;  .box-shadow(0 0 0 @ActionSaveHover);}

nav { 
    width: 224px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 80px;
    background: @OngletsActif;
    .box-shadow(0 0 50px rgba(0,0,0,.80));
    .border-radius (0 4px 4px 0);
        a{.transition; display: block;}
        a:hover{.opacity (0.2); .transition;}
        
        h3{ background: @bgTitre;
            .border-radius (0 4px 0 0);
            padding: 10px;
             padding-right: 0;
            font-size: 23px;
            font-weight: normal;
            text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
            div{
                background:url(../images/x.png) 0 0 no-repeat; 
                height: 30px; 
                width: 30px; 
                float: right; 
                text-indent: -5000px; 
                overflow: hidden;}
        }
        h4 {
        background-color: @bgH4;
        padding: 10px;
        margin-top: 1px;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.5em;
        .transition;

            span {
                background-color: @ActionSave;
                .border-radius (20px);
                display: inline-block;
                text-align: center;
                width: 25px;
                height: 25px;
            }
        }
        h4:hover{.opacity (0.5); .transition;}
        li{ display:block;
            font-size: 14px;
            a{padding: 15px 10px; display: block;}
        }

}

#ToSend span { background-color: @ActionDelete}
#Sent span {background-color: @ActionValid}

#ShowNav{
    width: 40px;
    height: 50px;
    position: absolute;
    top: -14px;
    text-indent: -9000px;
    overflow: hidden;
    background-color:@bgTitre;
    .border-radius;
    .box-shadow;
    .transition;

    a{
        display: block; 
        background:url(../images/menu-bt.png) 5px 20px no-repeat;
        height: 50px;}
}
#ShowNav:hover{
    top: -5px; 
    background-color:@OngletsActif; 
    .transition; }

nav li:nth-child(even) { background-color: @NavPair; .transition;}

nav .fieldcontainer{    
    padding: 10px;
    }
.searchfield, .formInputTxt, .MoreTxt{
    .inputText;
    .transition;

}
.searchfield:hover{ background-color: @InputTexthover;.transition;}

nav #searchbtn, nav #NewReport, nav #Dropbox, nav #Stat {
    float: left;
    font-size: 13px; 
    margin-left: 36px; 
    margin-top: 10px;
    margin-bottom: 10px;}

nav #NewReport {
margin-left: 23px;
 padding: 10px; 

}

nav #Dropbox {
margin-left: 23px;
 padding: 10px 53px; 

}
nav #Stat{
margin-left: 23px;
padding: 10px 28px; 
background: @ActionDelete; 
.box-shadow(0 4px 0 @ActionDeleteHover);
}

nav #Stat:hover{ background: @ActionDeleteHover; .box-shadow(0 00 @ActionDeleteHover);}

nav {
animation:mymove 1s 1;
-webkit-animation:mymove 1s 1; /* Safari and Chrome */

}

@keyframes mymove
{
from {left:-250px;}
to {left:0;}
}

@-webkit-keyframes mymove
{
from {left:-250px;}
to {left:0;}
}




.TableList{
    width: 100%;
    background-color: @bgH4;
    .border-radius;
    caption{ 
        text-align: left; 
        padding: 10px 0;};
    td { padding: 10px;}
    .selected{background-color:@TableHover;}
    }
.TableList tr:nth-child(even) { background-color: @TablePair; .transition;}
.TableList tr:hover{background-color:@TableHover; .transition;}


.Separation { height: 20px}

.Form {
    padding: 10px;
    background-color: @OngletsActif;
    .border-radius;
    margin: 10px;

        .MoreTxt{ height: 80px;}
        .col50 {
            line-height: 1.9em;
            
            width: 50%; 
            float: right;
            }
        .col50:first-child {float: left;}
        .formInputTxt { width: 80%}
        .formInputTxt:hover{ background-color: @InputTexthover;.transition;}
        .CheckTxt { float: left; width: 400px}
        
}
.Form .Content .formInputTxt { width: 20%}
.Form label{
    font-size: 12px; 
    padding-top: 15px; 
    display: block;
    line-height: 1.6em;}

article .Form p { padding:0; display: block; }
article .Form p label{width: 400px; float: left;}
article .Form p input {float: left; width: 15px; margin-top: 10px;}
.Form select { margin-top: 0;}

.Form #StatMater label { width: 35%; float: left; height: 15px;  margin-bottom: 20px; margin-top: 0px; margin-right: 20px}
.Form #StatMater .formInputTxt { width: 10%; float: left; margin-right: 300px; height: 30px; margin-bottom: 10px; margin-top: 10px}
.Form .login { width: 50%; margin: auto; margin-bottom: 20px; }
.Form .login label{ font-size: 14px}
fieldset#bebe { display: none}